  
{
    "env": {
      "utils": {
        "plugins": [
          ["module-resolver", {
            "root": ["vue-hls-ply"],
            "alias": {
              "vue-hls-ply/src": "vue-hls-ply/lib"
            }
          }]
        ]
      }
    }
  }